name: Convert SMDG data

on:
  workflow_dispatch: 
    inputs:
      dataset:
        type: choice
        required: true
        options:
          - liner-codes
        default: 'liner-codes'

env:
  version: 1.0.${{ github.run_number }}
  branch_name: data/update-${{ inputs.dataset }}-${{ github.run_number }}
  convert_project: src/SMDG/SMDG.csproj
  output_dir: data/${{ inputs.dataset }}

jobs:
  convert:
    runs-on: ubuntu-latest
    concurrency: convert-job
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup .net
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: convert
        run: dotnet run --project ${{ env.convert_project }} convert ${{ inputs.dataset }} -o ${{ env.output_dir }}

      - name: create pull request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: main
          branch: ${{ env.branch_name }}
          commit-message: "Updated ${{ inputs.dataset }} data from smdg source"
          title: "Updated ${{ inputs.dataset }} data from smdg source ${{ env.version }}"
          body: "Automated PR to update smdg data"
